* {
    padding: 0;
    margin: 0;
    font-family: 'DM Sans', sans-serif;
}

html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

body {
    background-color: #0c0c1d;
    color: lightgray;
    font-family: 'DM Sans', sans-serif;
}

section {
    scroll-snap-align: center;
    height: 100vh;
}

.cursor {
    background-color: transparent;
    border-radius: 50%;
    width: 3vw;
    height: 3vw;
    border: 1px solid gold;
}